* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 86, 129);
}

#container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    background-color: white;
    color: rgb(31, 31, 82);
    border-radius: 10px;
}

#container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
}

main h1 {
    font-size: 2.1rem;
    font-family: "Geologica", sans-serif;
    font-weight: 600;
}

main .description {
    font-weight: 200;
    font-size: 15px;
}

main .sub-items {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-left: -1px;
}
.sub-items .item {
    display: flex;
    align-items: center;
}
.sub-items .item img {
    width: 20px;
    height: 20px;
}
.sub-items .item span {
    margin-left: 10px;
    font-size: 15px;
}

#sub-form {
    border: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#sub-form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-form .email-address {
    font-weight: 600;
    font-size: 15px;
}

#sub-form .error-msg {
    font-size: 14px;
    text-align: end;
}

#sub-form input {
    font-size: 14px;
    opacity: 58%;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px;
}

#sub-form .btn {
    background-color: rgb(32, 32, 56);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 12px;
}

input, .btn {
    border: none;
    border-radius: 6px;
}

.btn:hover {
    background: linear-gradient(
          90deg,
          #FF527B,
          #FF6A3A
        );
}

aside {
    padding: 0.7rem;
}

aside img {
    width: 100%;
    height: 100%;
}

.attribution {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 25%, 68%);
}

@media (max-width: 376px) {
    body  {
        background-color:#fff;
    }

    #container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #container main {
        order: 2;
        padding: 0 2rem;
    }

    aside {
        order: 1;
        padding: 0;
    }
}