* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(86, 86, 129);
}

.container {
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1.6fr;
    grid-template-rows: auo;
    background-color: white;
    border-radius: 20px;
    color: rgb(31, 31, 82);
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0;
}

h1 {
    margin: 12px 0;
    font-size: 2.4rem;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

p.briefing {
    margin: 2px 0;
    padding: 0;
    font-weight: 200;
    font-size: 15px;
}

#sub-form {
    border: none;
    display: flex;
    flex-direction: column;
}

label.email {
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}

input, .btn {
    margin: 10px 0;
    padding: 18px;
    border: none;
    border-radius: 10px;
}

input {
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px 1px inset;
}

.btn {
    background-color: rgb(32, 32, 56);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.btn:hover {
    background: linear-gradient(
          90deg,
          #FF527B,
          #FF6A3A
        );
}

aside {
    border: 1px solid;
    margin: 0;
    /* width: 100%;
    height: 100%; */
}
aside img {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
    
.attribution {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 25%, 68%);
}
 
.parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-left: -6px;
}
.parent .item {
    display: flex;
    align-items: center;
}
span {
    padding: 3px 0px 2px 6px;
}
.parent .item img {
    width: 30px;
}